/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #290b09;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    background-color: #290b09;
    border-radius: 5px;
}

nav a:hover {
    background-color: #290b09;
}

/* Estilos principais */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

#loginMessage, #cadastroMessage, #entradaMessage, #doacaoMessage {
    margin-top: 10px;
    color: #290b09;
}

/* Estilos para formulários */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #290b09;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #290b09;
}

/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #290b09;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

/* Estilos para listas */
ul {
    list-style: none;
}

ul li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #290b09;
    border-radius: 5px;
}

ul li:nth-child(even) {
    background-color: #e0e0e0;
}

/* Estilos para links */
a {
    color: #290b09;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para os gráficos */
#produtosChart img, #doacoesChart img {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    #produtosChart img, #doacoesChart img {
        height: 300px;
    }
}