<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Cadastro de Usuário</h1>
    </header>
    <main>
        <form id="cadastroForm">
            <label for="email">Email:</label>
            <input type="email" id="email" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" required>
            <button type="submit">Cadastrar</button>
            <p id="cadastroMessage"></p>
        </form>
        <p>Já tem uma conta? <a href="/login">Faça login</a>.</p>
    </main>
    <script src="../static/js/scripts.js"></script>
</body>
</html>