<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Combate à Pobreza Menstrual</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Combate à Pobreza Menstrual</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/produtos">Entrada de Produtos</a>
            <a href="/estoque">Controle de Estoque</a>
            <a href="/doacoes">Rastreamento de Doações</a>
            <a href="/dashboard">Dashboard</a>
            <a href="#" id="logout">Logout</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bem-vindo ao Sistema de Combate à Pobreza Menstrual</h2>
            <p>
                Este sistema foi desenvolvido para apoiar organizações que trabalham para combater a pobreza menstrual,
                fornecendo uma plataforma para gerenciar eficientemente a entrada de produtos, o controle de estoque e o
                monitoramento de doações.
            </p>
            <p id="welcomeMessage"></p>
        </section>
    </main>
    <script src="../static/js/scripts.js"></script>
</body>
</html>